* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: 0 20px;
}

.logo img {
    height: 30px;
    vertical-align: middle;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 10px; /* Espaçamento entre os itens */
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

.login {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    .active .navbar-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0px;
        background-color: #333;
        padding: 10px;
        text-align: center;
    }

    .active .nav-item {
        margin: 10px 0;
    }

    .login {
        display: none; /* Ocultar botão de login em dispositivos móveis, ajuste conforme necessário */
    }

    .hamburger-only {
        display: none; /* Oculta o botão de login em telas maiores */
    }

    .login.hamburger-only {
        display: block; /* Exibe o botão de login apenas em telas menores (hamburguer) */
    }
}
